:root {

  /* ========= COLOR VARIABLES ========= */

  --alpine-green: #184d3b;
  --creme: #cead6b;
  --white: #d5c4a1;
  --gold: #966919;

  /* ========= GRADIENT VARIABLE ========= */

  --nav-gradient: linear-gradient(
    to right,
    var(--alpine-green) 0%,
    var(--creme) 100%
  );

  /* ========= BACKGROUND VARIABLE ========= */

  --body-bg: var(--white);

}


/* PAGE */

.page {
  min-height: 100vh;
  background-color: var(--body-bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}


/* HEADER / NAVBAR */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  /* APPLY GRADIENT HERE */
  background: var(--nav-gradient);
}


/* LOGO SECTION */

.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.brand-name {
  font-size: 20px;
  font-weight: 600;
}

.logoimg1{
    height: fit-content;
}


/* NAV LINKS */

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #111827;
}

.nav-links a:hover {
  color: var(--white);
}


/* CONTACT BUTTON */

.contact-btn {

  padding: 8px 16px;
  background-color: var(--white);

  color: var(--alpine-green) !important;

  border-radius: 8px;
}

.contact-btn:hover {

  background-color: var(--alpine-green);
  color: var(--white) !important;

}


/* MAIN */

.main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #9ca3af;
}


/* FIRST PARA */

.firstpara
{
    color: var(--alpine-green);
    font-weight: 650;
    font-size: larger;
}


/* HERO IMAGE SLIDER */

.heroimage {
  width: 100%;
  max-width: 900px;
  height: 360px;
  overflow: hidden;
  margin-top: 30px;
  border-radius: 16px;
}


/* Slider container */

.slider {
  display: flex;
  height: 100%;
  animation: slide 35s infinite linear;
}


/* Individual images */

.slider img {

  width: 900px;
  height: 100%;

  object-fit: cover;

  object-position: center;

  flex-shrink: 0;

}


/* Animation */

@keyframes slide {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-4500px);
  }

}


/* TRUSTED BY */

.trustedby {

    display: flex;

}

.collegelogos{
  margin-left: 15px;
  align-self: center;
}