
.page {
  min-height: 100vh;
  background-color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background-color:#966919;
}


.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.brand-name {
  font-size: 20px;
  font-weight: 600;
}

.logoimg1{
    height: fit-content;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #111827;
}

.nav-links a:hover {
  color: #ffffff;
}

.contact-btn {
  padding: 8px 16px;
  background-color: #ffffff;
  color: #966919 !important;
  border-radius: 8px;
}

.contact-btn:hover {
  background-color: #000413;
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #9ca3af;
}

.firstpara
{
    color: #966919;
    font-weight: 650;
    font-size: larger;
}
/* HERO IMAGE SLIDER */

.heroimage {
  width: 100%;
  max-width: 900px;
  height: 360px;
  overflow: hidden;
  margin-top: 30px;
  border-radius: 16px;
}

/* Slider container */
.slider {
  display: flex;
  height: 100%;
  animation: slide 35s infinite linear;
}

/* Individual images */
.slider img {
  width: 900px;
  height: 100%;
  object-fit: cover;       /* 🔥 KEY LINE */
  object-position: center; /* keeps focus centered */
  flex-shrink: 0;
}

/* Smooth right → left animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-4500px); /* 900px × 5 images */
  }
}

.trustedby
{
    display: flex;
}