/* USE YOUR ROOT VARIABLES */

.signup-container {

  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  background: var(--nav-gradient);

}



/* CARD */

.signup-card {

  background: var(--white);

  padding: 40px;

  border-radius: 12px;

  width: 400px;

  text-align: center;

  box-shadow: 0px 8px 25px rgba(0,0,0,0.15);

}



/* LOGO */

.signup-logo {

  width: 200px;

  margin-bottom: 10px;

}



/* TEXT */

.signup-card h2 {

  color: var(--alpine-green);

}


.subtitle {

  color: var(--gold);

  margin-bottom: 5px;

}


.subtitle2 {

  color: var(--alpine-green);

  margin-bottom: 20px;

  font-size: 14px;

}



/* ROLE CONTAINER */

.roles {

  display: flex;

  gap: 15px;

  justify-content: center;

  margin-bottom: 25px;

}



/* ROLE CARD */

.role-card {

  border: 2px solid transparent;

  padding: 15px;

  border-radius: 10px;

  cursor: pointer;

  width: 110px;

  transition: all 0.3s ease;

  background: #f8f5ee;

}



/* HOVER */

.role-card:hover {

  border-color: var(--creme);

  transform: translateY(-3px);

}



/* ACTIVE */

.role-card.active {

  border-color: var(--alpine-green);

  background: #e8dfc8;

}



/* ROLE TEXT */

.role-card h3 {

  color: var(--alpine-green);

}


.role-card p {

  color: var(--gold);

  font-size: 13px;

}



/* NEXT BUTTON */

.next-btn {

  width: 100%;

  padding: 12px;

  background: var(--alpine-green);

  color: var(--white);

  border: none;

  border-radius: 8px;

  cursor: pointer;

  font-size: 16px;

  font-weight: 600;

  transition: 0.3s;

}



/* BUTTON HOVER */

.next-btn:hover {

  background: var(--gold);

  color: var(--white);

}